

.Slider {
    
    max-width: 1000px;
    position: relative;
    margin: auto;
   
}
.ImageSlide{
    display: none;
    width: 300px;
    height: 200px;


    animation-name: fade;
    animation-duration: 1s;

   
}
 

.currentSlide {
    display: block;
    margin: auto;
}



@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}