

.Slider {
    
    max-width: 1000px;
    position: relative;
    margin: auto;
    /*
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    
    */
}
.ImageSlide{
    display: none;
    width: 300px;
    height: 200px;


    animation-name: fade;
    animation-duration: 1.5s;

    /*
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-right: 10px;
    display: none;
    */
}
 

.currentSlide {
    display: block;
    margin: auto;
    
    /*
    display: block;
    border-radius: 5px;
    */
}



@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}