/* White , Blue , and Green */

.header-class {
    background-color: #17d924;
    
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #e9ecef;
     background: linear-gradient(to top, orange, white);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
   position: sticky;
    top: 0;
    
}
.nav-link {
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
}